$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
//侧边栏 背景色
$menuBg:#30334c;
//侧边栏 二级背景色
$subMenuBg:#292c41;
//侧边栏 一级hover色
$firstMenuHover:#292c41;
//侧边栏 二级hover色
$menuHover:#3e415c;
